body
{
    background-color: #eeeeee;
}

.button-div
{
    margin-top: 10px;
}

#plus-button
{
    width : 100px;
    height: 100px;
    background-color: #fdb927;
    border-radius: 10px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
    cursor: pointer;
   
}

#plus-button:hover
{
    transform: scale(1.1);
    
}

.plus
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

/*

Modal

*/
#modal
{   
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

}

#modal-content
{
    background-color: #0065A6;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    height: 40%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modelopen;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
}

#close-button
{
    display: flex;
    align-content: center;
    justify-content: right;
}

#close-button span
{
    color: #ccc;
    font-size: 30px;
    cursor: pointer;
}

.amount-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.amount-container p
{
    font-size: 2em;
    text-align: center;

}
#close-button span:hover
{
    color: #fdb927;
    text-decoration: none;
}


fieldset 
{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .amount-container input[type="text"]
  {
    width: 50%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 10px  auto;
    padding: 15px;
    text-align: center;
  }
  

  .amount-container button[type="submit"] 
  {
    cursor: pointer;
    width: 50%;
    border: none;
    background: #fdb927;
    color: #FFF;
    margin: 0 0 5px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }
  


@keyframes modelopen
{
    from{opacity:0}
    to{opacity: 1}
}


/*

Display checks

*/


.results
{
    color: #424242;
}


.results h1
{
    padding: 50px;
    text-align: center;
    font-size: 4em;
}


.results-items
{
    display: flex;
    justify-content: space-around;

    
}

.results-items:nth-child(odd) 
{
    background: #333333;
    color: #fff;
}

.results h2
{
    font-size: 2em;
    padding: 10px;
}

.results-item
{
   
}
