@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

*
{
    margin: 0;
    padding: 0;
}



body
{
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 600;
}

#roundButton {
    background-color: #fdb927;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    position: absolute;
    top: 15;
    right: 15;
  }
  
  #roundButton:hover {
    
    cursor: pointer;
    
    transform: scale(1.2, 1.2);
  }
  
  #roundButton:active {
    border-color: #003557;
    background-color: #FFF;
  }

    #flyoutMenu 
    {
        width: 100vw;
        height: 100vh;
        background-color: #fdb927;
        position: fixed;
        top: 0;
        left: 0;
        transform: translate3d(-100vw, 0, 0);
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        overflow: hidden;
        z-index: 1000;
    }

    #flyoutMenu.show
    {
        transform: translate3d(0vw, 0, 0);
    }

    #flyoutMenu h2
    {
        font-size: 5em;
        text-align: center;
        color:white;
    }

    #flyoutMenu h2 a 
    {
        color: #333;
        margin-left: 15px;
        text-decoration: none;
      }

      #flyoutMenu h2 a:hover
        {
        color: #fff;
      }

#showcase
{
   background-color: #004684;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#showcase div  h1
{
    font-size: 4em;
}

.heading
{
     display: flex;
     margin: 10px;
     
}

.heading h2
{
    color: #fdb927;
    font-size: 4em;
}

#showcase #add-money
{
    display: flex;
    padding: 20px;

}

#showcase input
{
   padding: 15px;
   margin: 5px;
   
}

#showcase button
{
  padding: 15px;
  margin: 5px;
  
}




/********************
    Cards
*********************/
.card-container
{
    
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 45px auto;
    
}

.card-border
{
    padding: 0px 60px;
}

.card
{
    width: 260px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
    cursor: pointer;
   
}

.card:hover
{
    transform: scale(1.1);
}

.card div i 
{
    color: #424242;
    text-align: center;
   
}



.card div h1
{
    color: #424242;
    text-align: center;
    line-height: 60px;
}

.card div p
{
    color: #424242;
    text-align: center;
    font-size: 3em;
    margin: 0 7px;
}


.card-heading
{
   
    text-align: center;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.card-footer
{
    text-align: center;
    height: 20%;
    position: relative;
    background-color: #fdb927;
    border-radius: 1px;

}

.card-footer section
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7em;
    color: #fff;
    
    
}

/********************
    Twitter Feed
*********************/
.social
{
    background-color: #eeeeee;
}
.social-heading
{
    color: #424242; 
    text-align: center;
  
}

.social-heading h1
{
    padding-top: 50px;
}

.social-container
{
    display: flex;
    justify-content: center;
    align-content: center;
    
    padding: 40px;
    padding-bottom: 60px;
   
}




/********************

       Savings Page

********************/

#savings-header
{
    background-color: #eeeeee;
    height: 100vh;
    
   
}






/********************

    Media Queries

********************/

@media (max-width: 1200px) 
{

    /********************

        Cards

    ********************/
    .card-border
    {
        padding: 0px 50px;
    }

    .card
    {
        width: 200px;
        height: 200px;
        
    
    }

    .card div i
    {
        font-size: 3em;
       
    }

    .card div h1
    {
        font-size: 1em;
       
    }

    .card div p
    {
        color: #424242;
        text-align: center;
        font-size: 0.7em;
        margin: 0 5px;
    }


    

}


@media (max-width: 870px) 
{
    
    /********************

            Header

    ********************/
    
    .heading
    {
        display: flex;
        margin: 10px;
        
    }

    #app
    {
        height: 70px;
        width: 70px;
    
    
    }
    #showcase h1
    {
    
        font-size: 3em;
        padding: 10px;
    }

    .search-box-wrapper
    {
        display: inline-flex;
        font-size: 40px;
        
    }

    /********************

            Cards

    ********************/

     .card-border
    {
        padding: 0px 30px;
    }

    .card
    {
        width: 150px;
        height: 150px;
        
    
    }

    .card div i
    {
        font-size: 2em;
       
    }

    .card div h1
    {
        font-size: 0.8em;
        line-height: 30px;
    }

    .card div p
    {
        color: #424242;
        text-align: center;
        font-size: 0.5em;
        margin: 0 5px;
    }

    .card-footer
    {
        text-align: center;
        height: 20%;
        position: relative;

        border-radius: 1px;

    }

    .card-footer section
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;        
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        color: #fff;
        
        
    }


   
}


@media (max-width: 700px) 
{

    /********************
            Header
    ********************/

    .heading
    {
        display: flex;
        margin: 10px;
        
    }

    #app
    {
        height: 60px;
        width: 60px;
    
    
    }
    #showcase h1
    {
    
        font-size: 3em;
        padding: 10px;
    }

    .search-box-wrapper
    {
        display: inline-flex;
        font-size: 30px;
        
    }

    .heading h2
    {
        font-size: 3em;
    }

    /********************
        Cards
    ********************/
    .card-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
        margin: 20px 0px;
        
    }
    .card-border
    {
        padding: 40px 0px;
    }

    .card
    {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        
    }

    .card div i
    {
        font-size: 4em;
        line-height: 40px;
       
    }

    .card div h1
    {
        font-size: 2em;
        line-height: 70px;
       
    }

    .card div p
    {
        color: #424242;
        text-align: center;
        font-size: 1em;
        margin: 0 10px;
    }

    .card-footer section
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;        
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        color: #fff;
        
        
    }

    
    

}

@media (max-width: 490px) 
{

    body
    {
        overflow: auto;
    }
    /********************
            Header
    ********************/

    

    #app
    {
        height: 50px;
        width: 50px;
    
    
    }
    #showcase .hi h1
    {
        font-size: 2.2em;
    }

    .heading h2
    {
        font-size: 2.2em;
    }

    .search-box-wrapper
    {
        
        font-size: 22px;
        
    }

    #flyoutMenu h2  
    {
        font-size: 4em;
    }


}

@media (max-width: 350px) 
{
    /********************
            Header
    ********************/
    .search-box-wrapper
    {
        font-size: 19px;   
    }

    /********************
            Card
    ********************/
    .card
    {
        width: 280px;
        height: 280px;
    }
}